<div class="navigation">
    <h3 class="applicationName"><a href="index.html"><img src="{{ site.baseurl }}img/epiviz_logo_large_black.png" wodth="191" height="41" alt="EpiViz" /></a></h3>

    <div class="search">
        <input id="search" type="text" class="form-control input-sm" placeholder="Search">
    </div>
    <ul class="list">

        {% for p in site.pages %}
        <li class="item" data-name="{{ p.title }}">
            <span class="title">
                <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
            </span>
        </li>
        {% endfor %}
        <li class="item" data-name="{{ p.title }}">
            <span class="title">
                <a href="{{ site.baseurl }}/docs/index.html">Code Documentation</a>
            </span>
        </li>
    </ul>
</div>