<div class="main">
    <h1 class="page-title" data-filename="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</h1>
  
    <h3></h3>
    <section>
        <article class="readme">
            <h1>{% if page.logo %}{{ page.logo }}{% else %}{{ page.title }}{% endif %}</h1>
      <p class="meta"> {{ page.date | date_to_long_string }}</p>

            {{ content }}
        </article>
    </section>

    <!-- disqus code -->
    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    <!-- // disqus code -->

    <footer></footer>
</div>

